<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>

  <form action="/auth/login" method="post" id="loginForm">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <input type="submit" value="Log in">
  </form>

  <hr>

  <h2>Or login with:</h2>

  <a href="/auth/google">Google</a>
  <a href="/auth/facebook">Facebook</a>
  <a href="/auth/github">GitHub</a>
  <a href="/auth/twitter">Twitter</a>
</body>
<!-- Add this script tag in your EJS template -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsonwebtoken/8.5.1/jsonwebtoken.min.js"></script>
<!-- Add this script tag after including the jsonwebtoken library -->
<script>
  document.getElementById('loginForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;

    fetch('/auth/login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ email, password })
    })
    .then(response => response.json())
    .then(data => {
      if (data.token) {
        // Store the token in local storage or a cookie
        localStorage.setItem('token', data.token);

        // Include the token in the request headers for subsequent requests
        const token = data.token;
        const headers = {
          'Content-Type': 'application/json',
          'Authorization': `Bearer ${token}`
        };

        // Make a request to a protected route using the token in the headers
        fetch('/profile', {
          headers: headers
        })
        .then(response => {
          // Handle the response from the protected route
          // You can redirect to the profile page or display the data
          window.location.href = '/profile'

        })
        .catch(error => {
          console.error('Profile request error:', error);
        });
      } else {
        // Handle login failure
        alert(data.message);
      }
    })
    .catch(error => {
      console.error('Login error:', error);
    });
  });
</script>
</html>
